/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
.mandatoryLabelStyle
{
	fontWeight:bold;
	color:#ff0000;
}

.large-amount
{
	fontWeight:normal;
	color:#33ff33;
	fontSize:15;
}

.small-amount
{
	fontWeight:normal;
	color:#000000;
	fontSize:12;
}